{% extends 'quiz/base.html' %}

{% block title %}Sem Questões Disponíveis{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm text-center" style="background-color: #343a40;">
                <div class="card-body text-white">
                    <h2 class="card-title mb-4">Não há questões disponíveis</h2>
                    <p class="lead">Parece que você já respondeu a todas as questões disponíveis para esta matéria e assunto. Tente novamente mais tarde ou escolha outro assunto.</p>
                    <a href="{% url 'quiz:home' %}" class="btn btn-primary mt-3">
                        <i class="bi bi-arrow-left"></i> Voltar para a Página Inicial
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
