{% extends 'accounts/base.html' %}

{% block title %}Recuperação de Senha{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Recuperação de Senha</h2>
                    
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    <form method="post" action="{% url 'accounts:password_reset' %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                            <small id="emailHelp" class="form-text text-muted">Informe seu e-mail cadastrado para receber o link de redefinição de senha.</small>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-3">Enviar Link de Recuperação</button>
                    </form>
                    
                    <div class="mt-3 text-center">
                        <p><a href="{% url 'accounts:login' %}">Voltar para o Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
